{
    "output": "giroapp.phar",
    "directories": [
        "src",
        "vendor"
    ],
    "compression": "GZ",
    "compactors": [
        "KevinGH\\Box\\Compactor\\Php"
    ],
    "replacement-sigil": "$",
    "git": "app_version",
    "algorithm": "SHA512",
    "chmod": "0550"
}
