; The name of the organization.
org_name = ...

; Organization state id number (organisationsnummer)
org_id = ...

; BGC customer number of organization
org_bgc_nr = ...

; Bankgiro account number of organization
org_bg = ...

; The day of month when transactions are to be performed
trans_day_of_month = 28

; The minimum days in the future of created transactions
trans_min_days_in_future = 4
